.splash_page {
  background-color: rgb(153,204,255);
}

.header_box {
  border: 3px solid black;
  padding: 10px;
  margin: 10px auto;
}

.form-group {
  margin: 20px;
}

.checkbox-large {
  width: 100px;
  height: 100px;
}

.checkbox-box {
  border: 2px solid black;
  padding: 10px;
}

.float-right {
  float: right;
}

.actual_alert {
  background-color: rgb(239,103,103);
}

.test_alert {
  background-color: rgb(147,198,117);
}

.false_alarm {
  background-color: rgb(255, 240, 158);
}

button span {
  display: none;
}

.test_button {
  background-image: url(icons/test_button.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  /* put the height and width of your image here */
  height: 72px;
  width: 230px;
  border: none;
}

.actual_button {
  background-image: url(icons/actual_button.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  /* put the height and width of your image here */
  height: 72px;
  width: 230px;
  border: none;
}

.execute_button {
  background-image: url(icons/execute_button.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  /* put the height and width of your image here */
  height: 72px;
  width: 230px;
  border: none;
}

.false_button {
  background-image: url(icons/false_alarm_button.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  /* put the height and width of your image here */
  height: 72px;
  width: 230px;
  border: none;
}

.emergency_icon {
  height: 100px;
}

/*.check_box {*/
  /*background:url('images/check-box.png') no-repeat;*/
  /*height: 16px;*/
  /*width: 16px;*/
  /*display:inline-block;*/
  /*padding: 0 0 0 0px;*/
/*}*/

.form-check-input:checked {
  background:url(icons/checkmark.png) no-repeat;
  height: 16px;
  width: 16px;
  display:inline-block;
  padding: 0 0 0 0px;
}